<div mat-dialog-content>
  <h4 class="fw-bold"> {{menuItem.name}}</h4>
  <mat-chip-option (click)="applyDiscount()">Apply {{menuItem.discountPercent}} % Discount</mat-chip-option>
  <div class="row mt-4" *ngIf="isDiscountApplied">
    <div class="col-12 col-md-12 col-lg-6">
      <div class="discount-percent">
        <label>Discount Percent</label>
        <input type="number" [(ngModel)]="menuItem.discountPercent" [readOnly]="true" class="form-control mt-2" min="0"
          max="100">
      </div>

      <div class="discount-amount mt-3">
        <label>Discount Amount</label>
        <input type="number" [(ngModel)]="discountAmount" [readOnly]="true" class="form-control mt-2" min="0">
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 mt-4 mt-lg-0">
      <div class="image mb-2">
        <img class="menu-img" src="{{menuItem.img}}" alt="">
      </div>

      <div class="fw-bold">{{menuItem.name}}</div>
      <div class="price my-2">Price: Rs {{menuItem.price.toLocaleString()}}</div>
      <div class="qty my-2">Qty: {{menuItem.qty}}</div>
      <div class="subToal my-2">Total Price: Rs {{(menuItem.subTotal).toLocaleString()}}</div>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button [disabled]="!isDiscountApplied" mat-button mat-dialog-close cdkFocusInitial (click)="update()">Save</button>
</div>