.page-btn{
    margin-right: 10px;
}

.text-right{
    text-align: right;
}

.outline-none{
    outline: none;
}


.tbody-td{
    padding-left: 9px;
    padding-top: 15px;
    font-weight: 500;
    font-size: 0.9rem;
}

.discount-badge{
    background: #15a85b;
    padding: 5px 10px;
    width: 117px;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}