<div class="mt-4 border p-3">
  <div class="header fs-5 fw-medium">Menu List</div>
  <ng-container *ngIf="menuItems.length > 0">
    <div class="table-responsive mt-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="min-width: 200px;">Item</th>
            <th scope="col" class="text-center" style="width: 100px;">Qty</th>
            <th scope="col" style="min-width: 120px;">Price</th>
            <th scope="col" style="min-width: 120px;">Sub Total</th>
            <th scope="col">
              <div class="d-flex justify-content-center">Remove</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of menuItems;index as i">
            <td class="menu-name" [title]="item.name">
              <div> {{item.name}} </div>
              <div *ngIf="item.discountPercent > 0 && !item.isDiscounted" class="discount-badge cursor-pointer"
                (click)="openDialog(item,i)">
                Apply Discount</div>
            </td>
            <td>
              <div class="d-flex gap-3 align-items-center mb-3 mb-md-0">
                <div class="minus common" (click)="decrementQty(item)">-</div>
                <div class="qty-count">{{item.qty}}</div>
                <div class="plus common" (click)="incrementQty(item)">+</div>
              </div>
            </td>
            <td>Rs {{item.price.toLocaleString()}}</td>
            <td> Rs {{(item.isDiscounted ? item.subTotal : item.qty * item.price).toLocaleString()}}</td>
            <td>
              <div class="d-flex justify-content-center text-danger fs-4 cursor-pointer"
                (click)="removeMenuItem(item.id,i)">x</div>
            </td>
          </tr>
        </tbody>

        <tbody>
          <td class="tbody-td">Total Qty</td>
          <td></td>
          <td></td>
          <td class="tbody-td">{{menuItems.length}}</td>
        </tbody>

        <tbody>
          <td class="tbody-td">Total</td>
          <td></td>
          <td></td>
          <td class="tbody-td">Rs {{subTotal.toLocaleString()}}</td>
        </tbody>

        <tbody>
          <td class="tbody-td">Discount</td>
          <td></td>
          <td></td>
          <td class="tbody-td">Rs {{discountAmount.toLocaleString()}}</td>
        </tbody>

        <tbody>
          <td class="tbody-td">Tax</td>
          <td></td>
          <td></td>
          <td class="tbody-td">{{tax}} %</td>
        </tbody>

        <tbody>
          <td class="tbody-td">Net Price</td>
          <td></td>
          <td></td>
          <td class="tbody-td">Rs {{netPrice.toLocaleString()}}</td>
        </tbody>
      </table>



    </div>

    <button mat-raised-button (click)="viewOrderSummary()">View Order Summary</button>
  </ng-container>

  <div class="text-center mt-2" *ngIf="menuItems?.length === 0">No item available</div>

</div>